<%= simple_form_for(@post) do |f| %>
<%= f.error_notification %>
<div class="form">
  <div class="field-wrap">
    <label>
    </label>
    <%= f.input :title %>
  </div>
  <div class="field-wrap">
    <label>
    </label>
  <%= f.input :content, input_html: { rows: 10 } %>
  </div>
  <div class="field-wrap">
    <label>
    </label>
  <%= f.input :gako, input_html: { rows: 3 }%>
  </div>
  <div class="field-wrap">
    <label>
    </label>
    <%= f.input :dday, collection: 1..14, prompt: "모집 기한을 정해주세요!", selected: 3 %>
  </div>
  
  <% end %>
</div>  


