<%= simple_form_for(@post) do |f| %>
<%= f.error_notification %>
<div class="form">
  <div class="field-wrap">
    <label>
    </label>
    <%= f.input :title, label: "프로젝트 제목", label_html: { class: 'white03'}  %>
  </div>
  <div class="field-wrap">
    <label>
    </label>
  <%= f.input :content, input_html: { rows: 10 },label: "프로젝트 설명", label_html: { class: 'white03'}  %>
  </div>
  <div class="field-wrap">
    <label class="white03">
      이미지
    </label>
  <%= f.file_field :image_file %>
  </div>
  <div class="field-wrap">
    <label>
    </label>
  <%= f.input :gako, input_html: { rows: 3 },label: "각오", label_html: { class: 'white03'} %>
  </div>
  <div class="field-wrap">
    <label>
    </label>
    <%= f.input :dday, collection: 1..14, prompt: "모집 기한을 정해주세요!", selected: 3,label: "모집기한", label_html: { class: 'white03'}  %>
  </div>
  <hr class="hrcr">
  <%= f.button :submit, "Post", input_html: { class: 'action-button-sm shadow animate red' }%>
  <%= link_to 'Back', @post,method: :delete, class: 'action-button-sm shadow animate green' %>
  <% end %>
</div>  


