<%= render 'basic' %>
  <div class="container">
    <div class="row" style="margin-top:50px; margin-bottom:50px;">
      <div class="col-lg-12">
        <h1 class="white">play RIAH에 오신걸 환영합니다</h1>
        <% if user_signed_in? %> 
        <p class="white01">재미있는 프로젝트가 떠올랐나요?</p>
        <a href="/posts/new" class="action-button shadow animate yellow">LET US PLAY!</a>
      </div>
    </div>
    <hr class="hrcr">
    <div id="posting">
    <% @posts.reverse.each do |post| %>
      <div class="row">
        <div class="col-md-7">
          <a href="#">
            <img class="img-responsive" src="<%= post.image_file.url %>" alt="">
          </a>
        </div>
      <div class="col-md-5" class="option">
        <h3 style="color:white;font-size:30px;"><%= post.title %></h3>
        <h4 style="color:white;font-size:20px;"><%= User.find(post.user_id).name %></h4>
        <p style="color:white;font-size:20px;"><%= post.content %></p>      
         
          <%= link_to 'Show', post, class: 'action-button-sm shadow animate blue' %>
          <% if current_user.id == post.user_id  or current_user.id == 1 %>
          <%= link_to 'Edit', edit_post_path(post), class: 'action-button-sm shadow animate red' %>   
          <%= link_to 'Destroy', post, method: :delete, data: { confirm: '정말 지우시겠습니까?' }, class: 'action-button-sm shadow animate green' %>
          <% end %>
                
      </div>
      </div>
    <hr class="hrcr">
    <% end %>
    <% else %>
      <h2 class="white01" style="margin-botton:50px;">로그인을 해주세요</h2>
    <% end %>
  </div>
</div>
<div style="margin-bottom:100px">
  
</div>