<%= render 'basic' %>

<div class="container hello">

<h2>Listing posts</h2>

<table class="table">
  <tbody>
    <%= link_to 'New Post', new_post_path, class: 'btn btn-default' %>
    <% @posts.each do |post| %>
      <tr>
        <td><%= post.title %></td>
        <td><%= post.content %></td>
        <td><%= post.gako %></td>
        <td><%= post.current_user.name %></td>
        <td>
          <%= link_to 'Show', post, class: 'btn btn-default' %>
          <%= link_to 'Edit', edit_post_path(post), class: 'btn btn-default' %>
          <%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-default' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>




</div>