<%= render 'basic' %>
<div class="container">
  
    <h2 class="white text-center" style="margin-top:80px; margin-bottom:65px;">Post Preview</h2>
      <p class="white02">
      <span class = "show_span">Title:</span>
      <%= @post.title %>
      </p>
      <p class="white02">
      <span class = "show_span">Content:</span>
      <%= @post.content %>
      </p>
      <p class="white02">
      <span class = "show_span">Name:</span>
      <%= User.find(@post.user_id).name %>
      </p>
      <p class="white02">
      <span class = "show_span">이미지:</span>
      <img class="img-responsive" src="<%= @post.image_file.url %>" alt="">
      </p>
      <p class="white02">
      <span class = "show_span">각오:</span>
      <%= @post.gako %>
      </p>
      <p class="white02">
      <span class = "show_span">모집기한:</span>
      <%= @post.created_at + (@post.dday*86400) %>
      </p>
      <p class="white02" style="margin-bottom:20px">
      <span class = "show_span">지원현황:</span>
      <%= render "applicants/applicants"%>
      </p>
      <% if @post.applicants.where(user_id: current_user.id)==[] %>
        <%= link_to '지원 하기',{:controller => "applicants", :action => "create", :post => @post.id }, class: 'action-button shadow animate yellow' %>
      <% else %>
        <%= link_to '지원 취소',{:controller => "applicants", :action => "create", :post => @post.id }, class: 'action-button shadow animate yellow' %>
      <% end %>
      <hr class="hrcr" style="margin-top:105px; margin-bottom:40px;">  
      
      <%= render "comments/comments" %>
      
      <% if current_user.id == @post.user_id %>
      <%= link_to 'Edit', edit_post_path(@post), class: 'action-button-sm shadow animate blue' %>
      <% end %>
      <%= link_to 'Back', posts_path, class: 'action-button-sm shadow animate green' %>
      <div style="margin-bottom:80px;">
    </div>

</div>
<div style="margin-bottom:100px">
  
</div>